body{
	font-size: 12pt;	
}

h1{
	font-size: 18pt;	
}

.title{
	text-align:center;
}

td{
	font-size: 11pt;
	text-align:center;
}

td.black{
	background-color:black;
	font-weight:bold;
	color:white;
}

td.hai{
	vertical-align:bottom;
}

td.button{
	text-align:center;
}

img.mini{
	height:20pt;
}

img.answer{
	height:20pt;
}

.important{
	color:red;
}

input[type="radio"] {font-size:x-large;height:25px;width:25px;}
